
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

h1, h3 {
    color:  #0066cc;
}

p {
    margin-bottom:5mm;
}

hr {
    border-top: 1px solid red;
}

.paramsInputs {
    padding-left: 20px;
}

#trainingTable {
    border: 1px solid;
    width: 100%;
}

#trainTextArea {
    border: 2px solid #888; width:1000px; height:300px;
}

input {
    text-align: center;
}