<!DOCTYPE html>
<html>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<head>
		<title>Customizable D2V model</title>

		<!-- Bootstrap CSS CDN: Bootstrap decoration -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Our Custom CSS -->
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>

		<div>

			<h1>Build D2V Model Tool</h1>

			<h3>0. Define D2V model</h3>

			<div>

				<table id="hyperparamsTable">
					<tr>

						<td class="hyperparams">
							<select id="dmParam" size="2">
								<option value="0">PV-DM</option>
								<option value="1">PV-DBOW</option>
							</select>
						</td>

						<td class="hyperparams">
							<span>Vector Size: </span><br><input type="number" id="vectorSizeParam" placeholder="50">
						</td>

						<td class="hyperparams">
							<input type="number" id="windowParam" placeholder="5">
						</td>

						<td class="hyperparams">
							<input type="alpha" id="alphaParam" step="0.02" placeholder="0.2">
						</td>

					</tr>
				</table>

			</div>

			<p></p>

			<div>

				<input type="button" id="createModelButton" value="Create model">

			</div>

			<hr>

		</div>

	</body>

	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

	<script>

		function build_d2v_models(data) {
			console.log(data)
			$.ajax({
				type: "POST",
				contentType: 'application/json',
				dataType : 'json',
				url: "build_d2v_models",
				data: JSON.stringify(data),
				success: (res) => {  // TODO deberia responder con un id o algo para idnetificar el modelo y poder entrenarlo despues
					console.log(res)
				}
			})
		}

		$(createModelButton).click(() => {
			var data = {
				"hyperparams":{
					"epochs":[20,50,100],
					"window":[5,10],
					"alpha" :[0.2],
				},
				"test_name":"test_1"  // TODO nombre personalizado (habria que comprobar que sea unico) o nombre automatico en el back?
			}
			build_d2v_models(data)
		})

	</script>

</html>