<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Train Tool</title>

    <link rel="stylesheet" href="../css/style_buildModels.css">
</head>
<body>

    <!-- Starting of the interface HTML page  -->

    <div id="info"> <!-- Interface -->

        <h1>Custom Train Tool</h1>

        <h2>0. Create a group of D2V models with multiple parameters</h2>

        <div id="trainingOptions"> <!-- Selects with build and train options -->

            <h3>Models type:</h3><div><select id="modelsTypeSelect">
                <option value="d2v" selected>Doc2Vec</option>
                <option value="w2v">Word2Vec</option>
            </select></div>
            <h3>Training documents file:</h3><div><a class="inputPrefix">KORPUS/</a><input id="trainingDocsFileInput" value="{{training_docs_file}}"></input></div>
            <h3>Models folder:</h3><div><a class="inputPrefix">KORPUS/</a><input id="modelsFolderInput" value="{{models_folder}}"></input></div>

        </div>

        <h3>Hyperameters list:</h3>

        <div id="paramTable"><div class="paramCard plus"></div></div> <!-- Divs list to select multiple params -->

        <div id="createGroupButton" class="button" enabled="true">Create group</div> <!-- Req /buildAndTrainNewModelGroup with all params -->

        <h2>1. Saved groups <div id="updateButton" class="button" enabled="true">Update view</div></h2> <!-- Req /getAllSavedD2VGroups to update the groups list -->

        <div id="groupsList"></div> <!-- Show all saved groups -->

    </div>


    <div id="console"></div> <!-- Log console  -->

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>

        const SERVER_DIR = "http://localhost:6060"

        var hyperparameters = [] // Ask server for params.json -> {d2v: [...], w2v: [...]}
                                 // Select d2v or w2v params in the Object
        var selectedTypeHyperparameters = [] // Update this array with hyperparameters.d2v or hyperparameters.w2v according to modelsTypeSelect

        const onezeroValuesPattern = /^$|^[0,1]$/
        const intValuesPattern = /^$|^(-?\d+((:-?\d+)?){2})(,(-?\d+((:-?\d+)?){2}))*$/
        const intPositiveValuesPattern = /^$|^(\d+((:\d+)?){2})(,(\d+((:\d+)?){2}))*$/
        const floatValuesPattern = /^$|^(-?\d+(\.\d+)?((:-?\d+(\.\d+)?)?){2})(,(-?\d+(\.\d+)?((:-?\d+(\.\d+)?)?){2}))*$/
        const floatPositiveValuesPattern = /^$|^(\d+(\.\d+)?((:\d+(\.\d+)?)?){2})(,(\d+(\.\d+)?((:\d+(\.\d+)?)?){2}))*$/
        
        const defaultFloatValueStep = 0.1
        const defaultNaturalValueStep = 1

        // Log console handler
        const logUpdate = {
            stack: [],
            lastLogIndex: -1,
            init: function(callback=()=>{}) {
                //console.log("init")
                $("#console").empty()
                $.ajax({
                    type: "GET",
                    url: SERVER_DIR + "/getLog",
                    data: {"idx": logUpdate.lastLogIndex +1},
                    success: function(result) {
                        logUpdate.lastLogIndex = result.lastidx
                        callback()
                    }
                })
            },
            upd: function() {
                //console.log("upd - " + logUpdate.stack.length)
                $.ajax({
                    type: "GET",
                    url: SERVER_DIR + "/getLog",
                    data: {"idx":logUpdate.lastLogIndex +1},
                    success: function(result) {
                        if (logUpdate.lastLogIndex < result.lastidx) {
                            let fidx = logUpdate.lastLogIndex
                            logUpdate.lastLogIndex = result.lastidx
                            result.msgs.forEach((msg, i) => {
                                let newp = document.createElement('p')
                                newp.innerText = `[${fidx + i + 1}] ${msg}`
                                $("#console").append($(newp))
                                $("#console").scrollTop($("#console")[0].scrollHeight)
                            });
                        } else if (logUpdate.lastLogIndex > result.lastidx) {
                            logUpdate.init(() => logUpdate.upd())
                        }

                        if (logUpdate.stack.length > 0) setTimeout(logUpdate.upd, 1000)
                    }
                })
            },
            pop: function() {
                setTimeout(() => {
                    //console.log("pop")
                    this.stack.pop()
                }, 1000)
            },
            push: function() {
                //console.log("push - " + logUpdate.stack.length)
                logUpdate.stack.push(1)
                if (logUpdate.stack.length == 1) logUpdate.upd()
            }
        }

        // Update the groups list (1.) with the saved groups
        // TODO Separate D2Vs and W2Vs
        function updateGroupsView() {
            $("#updateButton").attr("enabled", "false")
            $.ajax({
                type: "GET",
                url: SERVER_DIR + "/getAllSavedGroups",
                data: {"models_folder": $("#modelsFolderInput").val()},
                success: function(result) { 
                    $("#groupsList").empty()
                    let concated_groups = [...result.doc2vec, ...result.word2vec]
                    concated_groups.forEach(group => {
                        let groupDiv = document.createElement('div')
                        let groupTittle = document.createElement('h3')
                        let groupList = document.createElement('ol')

                        groupTittle.innerText = group.group
                        group.models.forEach(model => {
                            let listElement = document.createElement('li')
                            listElement.innerText = model
                            groupList.append(listElement)
                        })

                        groupDiv.classList.add('clickable')
                        groupDiv.addEventListener('click', (e) => console.log("Clicked " + group.group))

                        groupDiv.append(groupTittle)
                        groupDiv.append(groupList)
                        $("#groupsList").append(groupDiv)
                    })
                    $("#updateButton").attr("enabled", "true")
                },
                beforeSend: function() {logUpdate.push()},
                complete: function() {logUpdate.pop()}
            })
        }

        // Adds another card to define a new parameter-value
        function createNewParamCard() {
            let plusDiv = $("#paramTable .plus")
            
            let remDiv = $(document.createElement("div"))
            let dataDiv = $(document.createElement("div"))
            let paramNameP = $(document.createElement("p"))
            let paramNameSelect = $(document.createElement("select"))
            let paramValueP = $(document.createElement("p"))
            let paramValueInput = $(document.createElement("input"))

            plusDiv.removeClass('plus')
            remDiv.addClass("rem")
            dataDiv.addClass("data")
            paramNameP.addClass("nameMessage").text("Name")
            paramNameSelect.addClass("paramName").attr("name", "paramName")
            paramValueP.addClass("valuesMessage")
            paramValueInput.addClass("paramData").attr("name", "paramData").attr("type", "text").attr("placeholder", "50:10:100").attr("valid", "true")

            plusDiv.off("click")
            remDiv.click(() => {plusDiv.remove(); updateSelectOptionsInParamCards()})
            paramNameSelect.change(() => updateSelectOptionsInParamCards())

            plusDiv.append(remDiv, dataDiv)
            dataDiv.append(paramNameP, paramNameSelect, paramValueP, paramValueInput)
            
            $(paramValueInput).on("input", function() {

                let validFunc = function(valid) {
                    if (valid == false) {
                        $("#createGroupButton").attr("enabled", "false")
                        $(paramValueInput).attr("valid", "false")
                    } else {
                        $("#createGroupButton").attr("enabled", "true")
                        $(paramValueInput).attr("valid", "true")
                    }
                }
                
                let pFormat = selectedTypeHyperparameters.find(p => p.name === paramNameSelect.val()).format
                
                let pVal = $(paramValueInput).val()

                switch(pFormat) {
                    case "onezero":
                        validFunc(onezeroValuesPattern.test(pVal))
                        break
                    case "int":
                        validFunc(intValuesPattern.test(pVal))
                        break
                    case "int-positive":
                        validFunc(intPositiveValuesPattern.test(pVal))
                        break
                    case "float":
                        validFunc(floatValuesPattern.test(pVal))
                        break
                    case "float-positive":
                        validFunc(floatPositiveValuesPattern.test(pVal))
                        break
                }
                
            })

            let newPlus = document.createElement('div')
            newPlus.classList.add('paramCard', 'plus')
            $(newPlus).click(() => {if ($("#paramTable div.paramCard:not(.plus)").length < selectedTypeHyperparameters.length) createNewParamCard()})
            $("#paramTable").append($(newPlus))

            updateSelectOptionsInParamCards()
            
            return plusDiv
        }

        // Update the options values in every ParamCard Select
        function updateSelectOptionsInParamCards() {
            let paramCardsSelects = $("#paramTable div.paramCard:not(.plus) select.paramName")
            let paramCardsSelectedOptionsValues = paramCardsSelects.find("option:selected").map((i, o) => o.value).toArray().filter(v => v)
            let allOptionsValues = ["", ...selectedTypeHyperparameters.map(p => p.name)]

            // Update default value views with param.json data (in 'selectedTypeHyperparameters')
            let paramCards = $("#paramTable div.paramCard:not(.plus)")
            paramCards.each(function(i, card) {
                let pName = $(card).find("select option:selected").val()
                let vMsgP = $(card).find(".valuesMessage")
                let hpInfo = selectedTypeHyperparameters.find(p => p.name == pName)
                if (hpInfo)
                    vMsgP.text(`Values [default = ${hpInfo.default}]`)
                else
                    vMsgP.text("Values [ _ ]")
            })

            // Check every Select of every param card
            paramCardsSelects.each((i, select) => {

                // Get all options in this select
                let options = $(select).find("option")
                // Get the selected option in this select
                let selectedOption = $(select).find("option:selected")

                // Remove all options that were already selected in another select
                options.each((i, option) => {
                    let optionVal = $(option).val()
                    if (paramCardsSelectedOptionsValues.includes(optionVal) && optionVal !== selectedOption.val())
                        $(option).remove()
                })

                // Insert all free options
                allOptionsValues.forEach(v => {
                    // Get all options values of this select (stores in array)
                    let optionsValues = $(select).find("option").map((i, o) => o.value).toArray()
                    // Insert the new option if the value is not already in this Select or is selected in another Select
                    if (!optionsValues.includes(v) && !paramCardsSelectedOptionsValues.includes(v)) {
                        let newOption = $(document.createElement("option")).val(v).text(v ? v : " - select param - ")[0]
                        // Index of the next element from this new option 
                        // (options are sorted according to server response array)
                        let sortedIndex = optionsValues.indexOf(optionsValues.find(p => {
                            let pPrio = allOptionsValues.indexOf(p)
                            let vPrio = allOptionsValues.indexOf(v)
                            return pPrio > vPrio
                        }))
                        // Insert the new option before the element in sortedIndex
                        select.insertBefore(newOption, select.children[sortedIndex])
                    }
                })

            })
        }

        // Collects parameter-value pairs from all cards and makes a POST request to /buildAndTrainNewModelGroup
        function collectParamsAndCreateGroup() {
            $("#createGroupButton").attr("enabled", "false")
            let groupName = prompt('Escoja un nombre para el grupo: ', 'testgroup')
            if (groupName == null) return -1

            let modelsType = $("#modelsTypeSelect option:selected").val()
            let trainingDocsFile = $("#trainingDocsFileInput").val()
            let percentageTrainingCorpus = 1 //TODO use
            let modelsFolder = $("#modelsFolderInput").val()
            
            let params = {}
            let cardsData = $(".paramCard .data")
            cardsData.each(function(i, cardData) {
                let key, value
                key = $(cardData).find("select[name='paramName']").val()
                if (key) {
                    let hpInfo = selectedTypeHyperparameters.find(p => p.name === key)
                    if (hpInfo) {
                        let paramValue = $(cardData).find("input[name='paramData']").val()
                        value = parsePattern(paramValue, hpInfo.format)
                    }
                }
                if (key.length > 0 && value.length > 0) params[key] = value
            })

            $.ajax({
                type: "POST",
                url: SERVER_DIR + "/buildAndTrainNewModelGroup",
                contentType: 'application/json',
                data: JSON.stringify({"group_name": groupName, "models_type": modelsType, "training_docs_file": trainingDocsFile, "percentage_training_corpus": percentageTrainingCorpus, "models_folder": modelsFolder, "params": params}),
                success: function(result) {
                    console.log(result)
                    updateGroupsView()
                    $("#createGroupButton").attr("enabled", "true")
                },
                error: function(res) {},
                beforeSend: function() {logUpdate.push()},
                complete: function() {logUpdate.pop()}
            })
        }

        // Transforms the input pattern into a sorted list of numbers
        function parsePattern(input, type) {

            let values = []
            let defaultStep = type.startsWith("float") ? defaultFloatValueStep : defaultNaturalValueStep

            input.split(',').forEach(elem => {
                if (!elem) return []
                
                nrange = elem.split(':')

                if (nrange.length == 1) {
                    values.push(parseFloat(nrange))

                } else if (nrange.length == 2) {
                    let vInit = parseFloat(nrange[0])
                    let vEnd = parseFloat(nrange[1])
                    if (vInit < vEnd)
                        for (let i = vInit; i <= vEnd; i += defaultStep) values.push(i)
                    else
                        for (let i = vInit; i >= vEnd; i -= defaultStep) values.push(i)

                } else if (nrange.length == 3) {
                    let vInit = parseFloat(nrange[0])
                    let vEnd = parseFloat(nrange[2])
                    let step = parseFloat(nrange[1])
                    if (step > 0)
                        for (let i = vInit; i <= vEnd; i += step) values.push(i)
                    else
                        for (let i = vInit; i >= vEnd; i -= step) values.push(i)
                }
            })

            return values
        }

        function updateModelType() {
            // get the new type
            let selectedTypeVal = $("#modelsTypeSelect option:selected").val()

            // select the w2v or d2v hparams according to the new type. Update 'selectedTypeHyperparameters'
            if (selectedTypeVal === "w2v")
                selectedTypeHyperparameters = hyperparameters.word2vec
            else
                selectedTypeHyperparameters = hyperparameters.doc2vec

            // reset selected hyperparameters
            $("#paramTable div.paramCard:not(.plus)").remove()

            createNewParamCard()
        }

        $("#modelsTypeSelect").change(updateModelType)
        $("#updateButton").click(updateGroupsView)
        $("#createGroupButton").click(collectParamsAndCreateGroup)
        $("#paramTable div .plus").click(createNewParamCard)
        $("#trainingOptions div").each((i, option) => {
            let input = $(option).find("input")
            let prefix = $(option).find("a.inputPrefix")
            input.on("input", function() {
                if (input.val().startsWith("/"))
                    prefix.hide()
                else
                    prefix.show()
            })
        })
        $.ajax({
            type: "GET",
            url: SERVER_DIR + "/params",
            success: function(result) {
                hyperparameters = result
                $("#modelsTypeSelect option[value={{models_type}}]").attr("selected", "selected")
                updateModelType()
            }
        })

        logUpdate.init(() => updateGroupsView())
        
        $.ajax({
            type: "GET",
            url: SERVER_DIR + "/getKorpusPath",
            success: function(result) {
                $("#trainingOptions .inputPrefix").text(result.korpus)
            }
        })

    </script>

</body>
</html>